<!DOCTYPE html>
<html>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/index1.css') }}">
<head>
</head>
<body>
<div class="container">
  <div class="row">
     <div class="col-xs-12" id="resHead">
         <h3>CV de </h3>
         <h1>Cedric Algaron</h1>
         <img width=200px class="img-responsive"  src="{{url_for('static', filename='PI.png')}}" />
     </div>
   </div>
  <div class="row">
    <div class="col-xs-12 col-md-6" id="workExp">
      <h1 class="heading">A propos de moi</h1>
      <p>
        28 ans, je suis un digital natives et suis passionné de tout ce qui est nouvelle technologie. Je me suis orienté dans le domaine de la datascience car cela m'intéresse et que les persepctives d'utilisation sont tout simplement hors normes.
      </p>

      <h1 class="heading">Expérience professionnelle</h1>
        <h2 class="title">Fibropteam</h2>
          <h3 class="subtitle">Technicien D3</h3>
            <h4 class="date">2019</h4>
              <p>
                Installation de la fibre optique, test et contrôle.
              </p>
    
    </div>
    <div class="col-xs-12 col-md-6" id="skillEdu">
      <h1 class="heading">Compétences</h1>

        <h2 class="title">Informatique</h2>
        <p>
          Machine Learning
        <p>
          Deep Learning
        <p>
          Visual WebApp
        <p>
          Webscrapping
        <p>
          Languages : Python et R
        </p>
      <h1 class="heading">Diplôme Universitaire</h1>
        <h2 class="title">Universite Jean Moulin Lyon 3</h2>
          <h3 class="subtitle">M2 droit des contrats publics</h3>
        
    </div>
    <div class="col-xs-12 col-md-6" id="skillEdu">
      <h1 class="heading">Langages</h1>
        <h2 class="title">Français - langue maternelle</h2>
        <h2 class="title">Anglais - B2</h2>
    </div>
    <div class="col-xs-12 col-md-6" id="skillEdu">
      <h1 class="heading">Formation Informatique</h1>
        <h2 class="title">Simplon cross Apple - 2019 - Initiation au code avec simplon (langage: swift)</h2>
        <h2 class="title">Simplon cross Microsoft - 2020(en cours) - Formation en data Intelligence Artificielle</h2>
    </div>
  </div>
  <div class="row">
  <div class="contact col-xs-12">
    <img width=100px class="img-responsive"  src="{{url_for('static', filename='letter.png')}}" />
   <h1 class="title">Contact</h1>
      <p class="subtitle">
          France <br/>
          Île-de-France<br />
        <a href="XXXXXXXXXX">PHONE</a><br />
        <a target="_blank" href="https://www.linkedin.com/in/cedricalgaron/">LinkedIn</a><br />
        <a target="_blank" href="https://github.com/cedalg">GitHub</a><br />
        </div>
</div>
</div>

</body>

</html>

